[cifs]
FSTYP=cifs
TEST_DEV=//eosgnortheurope.file.core.windows.net/eosgnortheurope
TEST_DIR=/test1
TEST_FS_MOUNT_OPTS='-o vers=3.0,username=eosgnortheurope,password=EOSG_NORTHEUROPE_SHARE_PASSWORD,dir_mode=0777,file_mode=0777,sec=ntlmssp'
[ext4]
FSTYP=ext4
TEST_DEV=/dev/sdb1
TEST_DIR=/test2
TEST_FS_MOUNT_OPTS='-o nobarrier'